/* body {
  height: 90vh;
  padding-top: 10vh;
} */

/* 
#navbar {
  top: 0;
  left: 0;
} */

/* #wrapper {
  box-sizing: border-box;
  width: 65vw;
  height: 65vh;
  border: 10px solid orange;
  background-color: orange;
  margin: 10vh auto;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: orange;
}


@media (min-width: 768px) and (max-width: 1200px) {
  #wrapper {
    width: 80vw;
    height: 70vh;
    margin: 7.5vh auto;
  }
}


@media (max-width: 767px) {
  #wrapper {
    width: 90vw;
    height: 60vh;
    margin: 10vh auto;
  }
} */