#wrapper {
  width: 80vw;
  height: 80vh;
  background-color: orange;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
}

#canvas {
  width: 90%;
  height: 90%;
  background-color: #ccc;
  margin: 2.5% auto;
  border-radius: 5px;

}